.header-bg {
    background-color: #a3d9ec;
    padding: 0px;
}
.container{
    text-align: center;
    width: 100px;
}

.logo-container {
    display: flex; 
    align-items: center;
    height: 30px;
    width: 114px;
    position: relative;
    left: 50px;
    top: 30px;
}
.icon-image{
    display: flex;
    height: 30px;
    width: 30px;
    position: relative;
    left: 1250px;
    top: 0px;

}
.navigationbar{
    display: flex;
    height: 30px;
    width: 30px;
    position: relative;
    top: -30px;

}
.image-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px; /* space sa picture */
    margin: 100px 0; /* vertical space */
    
}

.image-section img {
    height: 150px; /* kahit anong size gusto mo */
}
.image-box{
    width: 200px;
    height: 200px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    overflow: hidden;
}
.image-text{
    font-size: 14px;
    text-align: center;
    margin-top: 4px;
    position: relative;
    top: 200px;
    right: 145px;
}
.custom-footer {
    background-color: #a3d9ec;
    height: 50%;
}

.footer-content p {
 
    font-family: Arial, sans-serif;
}
.footer2{
    position: relative;
    left: 500px;
    top: 30px;
}
.footer3{
    position: relative;
    left: 780px;
    top: 6px;
}
.footer4{
    position: relative;
    left: 1070px;
    bottom: 17px;
}
.footer1{
    position: relative;
    top: 150px;
    left: 200px;
}
.logos-image{
    width: 100px;
    height: 100px;
    position: relative;
    top: 150px;
    left: 205px;

}