/* about */
#about-main {
  margin: 20px 120px;
  text-align: justify;
  margin-bottom: 350px;
}

#about-main h1 {
  margin-bottom: 20px;
}

#about-main h2 {
  margin-bottom: 10px;
}

/* mission vision */
#mission-vision-container {
  display: flex;
  flex-direction: column;
  gap: 20px; 
  align-items: center; 
  vertical-align: top;
  margin-top: 40px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #A3D9EC;
  border-radius: 24px;
  box-shadow: 0px 0px 10px rgba(32, 32, 32, 0.5);
}

.mission-vision-section {
  min-height: 50%;
  min-width: 100%;
}

.mission-vision-text {
  display: inline-block;
  min-height: 50%;
  max-width: 50%;
}

.mission-vision-img-container {
  max-width: 50%;
}

.mission-vision-img {
  display: block;
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
}

#mission {
  display: flex;
  align-items: center;
  flex-direction: row;
}
#vision {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

/* founders */
#founders-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  margin-top: 40px;
}

.founder-block {
  display: inline-block;
  min-width: 25%;
  max-width: 50%;
}

.founder-block p {
  display: block;
  width: 100%;
  text-align: center;
  font-weight: 700;
}

.founder-block img {
  display: block;
  max-height: 300px;
  margin-left: auto;
  margin-right: auto;
}