
.sidebar ul #inAbout {
  background-color: rgba(255, 255, 255, 1);
}

/* about */
#about-main {
  margin: 20px 120px;
  text-align: justify;
}

#about-main h1 {
  margin-top: 40px;
  margin-bottom: 20px;
}

#about-main > h2 {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* mission vision */
#mission-vision-container {
  max-width: 66.66%;
  display: flex;
  flex-direction: column;
  gap: 20px; 
  align-items: center; 
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
  background-color: #A3D9EC;
  border-radius: 24px;
  box-shadow: 0px 0px 10px rgba(32, 32, 32, 0.5);
}

.mission-vision-text {
  display: inline-block;
  min-height: 50%;
  max-width: 50%;
}

.mission-vision-img {
  display: block;
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
}

#mission {
  display: flex;
  align-items: center;
  flex-direction: row;
}
#vision {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

#mission-vision-container h2 {margin-bottom: 10px;}

/* founders */
#founders-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 80px;
  column-gap: 20px;
  width: 100%;
  padding: 20px;
  margin-top: 40px;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.founder-block {
  max-width: 50%;
}

.founder-block p {
  display: block;
  width: 100%;
  text-align: center;
  font-weight: 700;
}

.founder-block img {
  width: 100%;
  border-radius: 24px;
  margin-bottom: 10px;
}

/* phone portrait */
@media screen and (max-width: 450px) {
  #about-main {
    margin: 0px 20px;
    text-align: justify;
    padding-bottom: 320px;
  }

  #mission-vision-container {
    min-width: 100%;
  }
  .founder-block {
    min-width: 100%;
  }

  .founder-block img {
    width: 100%;
    border-radius: 12px;
    margin-bottom: 10px;
  }
}

/* phone landscape */
@media screen and (max-height: 450px) {
  #about-main {
    margin: 0px 60px;
    text-align: justify;
    padding-bottom: 150px;
  }

  #mission-vision-container {
    min-width: 100%;
  }
  .founder-block {
    min-width: 60%;
  }

  .founder-block img {
    width: 100%;
    border-radius: 12px;
    margin-bottom: 10px;
  }
}