/* mobile screen adaptbility (changes when screen width is less than 600px) */

/* portrait */
@media screen and (max-width: 450px) {
  body, main {
    text-align: left;
  }

  body { padding-bottom: 400px; } /* gives space for the footer */

  .burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20px;
    height: 15px;
    cursor: pointer;
  }

  .bar {
    height: 2px;
  }

  .burger.change .bar:nth-child(1) {
    transform: translateY(6.25px) rotate(-45deg);
  }

  .burger.change .bar:nth-child(3) {
    transform: translateY(-6.25px) rotate(45deg);
  }

    header {
      height: 36.8px;
      padding: 20px 20px;
    }
    .logo img { height: 36.8px; }

    .left-header {
      column-gap: 10px;
    }
    #header-profile {
      height: 28px;
      width: 28px;
      margin-top: 6px;
    }

    .sidebar {
      height: 100%;
      padding-top: 50px;
      width: 160px;
    }
  
    .sidebar.collapsed {
      width: 0px;
    }
  
    .sidebar ul li {
      padding: 5px;
      font-size: 11px;
    }
  
    .sidebar ul #sidebar-help {
      margin-top: 5px;
      position: absolute;
      bottom: 80px;
      height: fit-content;
    }

    #footer {
      padding: 10px 20px;
      width: 100%;
    }

    .footer-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
      align-content: center;
      justify-content: center;
      align-items: start;
      justify-items: start;
    }

    .footer-section {
      min-width: 50%;
      font-size: 11px;
      margin-top: 5px;
      margin-bottom: 5px;
    }

    .footer-section p, .footer-section a {
      text-align: left;
    }

    .footer-section h4 {
      text-align: left;
      font-size: 14px;
    }
  
    #business-schedule p {
      text-align: left;
      font-size: 11px;
    }
    #business-schedule p span {
      display: inline-block;
      min-width: 79.5px;
      max-width: 115px;
    }

    .footer-icons {
      height: 24px;
      margin-right: 5px;
      padding-top: 6px;
      vertical-align: text-bottom;
    }

    .bottom-note {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 11px;
    }

    #sonlight-icon-img-section {
      display: none;
    }
}

/* phone landscape */
@media screen and (max-height: 450px) {
  body { padding-bottom: 300px; } /* gives space for the footer */

  .burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20px;
    height: 15px;
    cursor: pointer;
  }

  .bar {
    height: 2px;
  }

  .burger.change .bar:nth-child(1) {
    transform: translateY(6.25px) rotate(-45deg);
  }

  .burger.change .bar:nth-child(3) {
    transform: translateY(-6.25px) rotate(45deg);
  }

  header {
    height: 36.8px;
    padding: 20px 20px;
  }
  .logo img { height: 36.8px; }

  .left-header {
    column-gap: 10px;
  }
  #header-profile {
    height: 28px;
    width: 28px;
    margin-top: 6px;
  }

  .sidebar {
    height: 100%;
    padding-top: 50px;
    width: 160px;
  }

  .sidebar.collapsed {
    width: 0px;
  }

  .sidebar ul li {
    padding: 5px;
    font-size: 11px;
  }

  .sidebar ul #sidebar-help {
    margin-top: 5px;
    position: absolute;
    bottom: 40px;
  }

  #footer {
    padding: 20px 40px;
    max-height: 350px;
  }

  #footer h4, #footer p, #footer a, #footer .bottom-note {
    font-size: 12px;
  }

  .footer-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    align-content: center;
    justify-content: center;
    align-items: start;
    justify-items: start;
  }
}