/* main */
#view-shop-main {
  margin: 40px 140px;
  text-align: justify;
  border: 1px solid #01303f;
  border-radius: 48px;
  padding: 40px;
}

#view-shop-main > h2 { margin-top: 20px;}
#view-shop-main > p { margin-right: 20px;}

#shop-section {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: start;
}

/* shop image */
#shop-img-container {
  grid-column: 1/2;
  grid-row: 1/4;
  height: 384px;
  width: 100%;
  padding: 10px;
  border-radius: 24px;
  border: solid 1px #10303f;
}

#shop-image {
  min-width: 100%;
  max-height: 100%;
  border-radius: 12px;
  justify-self: center;
}

/* shop details */
#shop-details {
  grid-column: 2/3;
  grid-row: 1/3;
  padding: 10px;
  min-height: 100%;
}

#shop-details h2, #shop-details p {
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: left;
}

/* book button */
a {
  text-decoration: none;
  width: fit-content;
  grid-column: 2/3;
}

#book-button {
  display: block;
  border: none;
  border-radius: 4px;
  margin-left: 10px;
  padding: 10px 20px;
  color: #fff;
  background-color: #0688ff;
  font-weight: 700;
  width: fit-content;
  cursor: pointer;
  transition: all 0.2s;
}

#book-button:hover {
  background-color: #16aaf9;
  transform: scale(1.05);
}

#book-button:active {
  background-color: #0688ff;
  transform: scale(1);
}

/* shop contact info */
#shop-contact {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  /* margin-top: 20px; */
  padding-top: 18px;
  width: fit-content;
}

#shop-contact a, #shop-contact p {
  display: block;
  text-decoration: none;
  color: #01303f;
  width: fit-content;
  font-size: 14px;
  margin-top: 2.5px;
  margin-bottom: 2.5px;
  transition: all 0.2s;
}

#shop-contact a:hover { font-weight: 700; }
#shop-contact a:active { font-weight: normal;}

.shop-contact-ico {
  height: 20px;
  margin-right: 10px;
  padding-top: 6px;
  vertical-align: text-bottom;
}

/* shop services */
#shop-service-h2 {
  margin-top: 20px;
  font-size: 20px;
  color: #fff;
  background: linear-gradient(to right, #167790 0%, #01303f 75%);
  /* background-color: #01303f; */
  width: fit-content;
  border-radius: 30px;
  padding: 10px 15px;
}

#services-container {
  padding: 10px;
  margin-top: 20px;
  height: 460px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  margin-bottom: 12%;
  align-items: center;
  justify-items: center;
  justify-self: center;
}

.service-block {
  height: 100%;
  width: 100%;
  border-radius: 6px;
  padding: 10px;
  align-content: end;
  justify-items: center;
  background-color: #fff;
  box-shadow: 0px 0px 6px #20202080;
}

#services-container .service-block .serv-imgs {
  align-self: center;
  border-radius: 12px;
}

.serv-imgs {
  max-width: 100%;
  max-height: 90%;
}

.prices {
  text-align: center;
}

/* feedbacks */
#feedback-section {
  margin-left: 20px;
}

.feedback-block {
  border: 1px solid #10303f;
  border-radius: 12px;
  margin-top: 20px;
  padding: 20px;
  height: 150px;
}

.feedback-block p {
  margin-top: 5px;
}

.name-ratings p {
  display: inline-block;
  min-width: 80%;
}

.name-ratings .rating-img {
  display: inline-block;
  max-width: fit-content;
}

/* rate store */
#new-feedback-section {
  margin-left: 20px;
  padding: 10px;
  width: 100%;
}

#review-form {
  width: 100%;
}

#review-text-box {
  width: 100%;
  height: 150px;
  border: 1px solid #10303f;
  border-radius: 12px;
  padding: 10px 15px;
  resize: none;
  background-color: #f0fbff;
}

#new-feedback-section p {
  width: fit-content;
  margin: 10px 0px;
}

#submit-review {
  display: block;
  border: none;
  border-radius: 12px;
  padding: 10px 20px;
  color: #fff;
  background-color: #0688ff;
  font-weight: 700;
  width: fit-content;
  cursor: pointer;
  margin-top: 20px;
  justify-self: end;
  margin-right: 20px;
  transition: all 0.2s;
}

#submit-review:hover {
  background-color: #16aaf9;
  transform: scale(1.05);
}

#submit-review:active {
  background-color: #0688ff;
  transform: scale(1);
}

#feedback-section .feedback-block .feedback-rating {
  margin: 0px;
  color: yellow;
}

#new-feedback-section #user-opinion-p {
  margin-bottom: 5px;
}

#new-feedback-section .user-rating {
  margin: 5px 0px;
  font-size: 24px;
  color: yellow;
}

#new-feedback-section #review-p {
  margin-left: 10px;
}

/* phone portrait */
@media screen and (max-width: 450px) {
  /* shop main */
  #view-shop-main {
    margin: 40px 10px;
    text-align: justify;
    border: 1px solid #01303f;
    border-radius: 24px;
    padding: 10px;
  }
  
  #view-shop-main h2 {
    font-size: 20px;
  }

  /* shop image */
  #shop-img-container {
    height: 250px;
    margin: 0px;
    padding: 5px;
    border: solid 1px #10303f;
    border-radius: 12px;
    grid-column: 1/5;
    grid-row: 1/3;
  }

  #shop-image {
    max-width: 100%;
    height: 100%;
    padding: 5px;
  }

  /* shope detals */
  #shop-details {
    grid-column: 1/5;
    grid-row: 3/4;
  }
  
  #shop-details h2 {
    font-size: 18px;
  }

  #shop-details p {
    font-size: 14px;
  }

  /* shop contact info */
  .shop-contact-ico {
    margin-right: 5px;
  }

  /* book button */
  #book-button {
    grid-column: 2/3;
    justify-self: end;
    margin-right: 10px;
  }

  /* shop services */
  #view-shop-main #shop-service-h2 {
    font-size: 14px;
    padding: 12px 20px;
    margin-top: 20px;
  }

  #services-container {
    height: 230px;
    margin-top: 10px;
    column-gap: 5px;
    row-gap: 10px;
  }

  .service-block {
    height: 100%;
    width: 75px;
  }
  /* feedbacks */
  .feedback {
    font-size: 14px;
  }

  .feedback-block {
    margin-top: 10px;
    padding: 10px 15px;
  }

  #feedback-section, #new-feedback-section {
    margin: 0px;
  }
  
  #new-feedback-section {
    padding: 0px;
  }

  #new-feedback-section #review-p {
    margin-left: 10px;
    margin-bottom: 5px;
    vertical-align: top;
  }

  #submit-review {
    margin-right: 10px;
  }
}
/* phone landscape */
@media screen and (max-height: 450px) {
  /* shop main */
  #view-shop-main {
    margin: 20px;
    text-align: justify;
    border: 1px solid #01303f;
    border-radius: 24px;
    padding: 20px;
  }

  #view-shop-main h2 {
    font-size: 20px;
  }

  /* shop services */
  #services-container {
    gap: 5px;
  }

  #view-shop-main #shop-service-h2 {
    font-size: 16px;
    padding: 12px 20px;
  }

  .feedback {
    font-size: 14px;
  }

  .feedback-block {
    padding: 10px 15px;
  }

  #new-feedback-section {
    margin: 0px;
  }
}